<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
        }

        body {
            font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
            letter-spacing: 2px;
        }

        #caja {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 10px;
            margin: 24px auto;
            max-width: 500px;

        }

        #titulo {
            color: #1E88E5;
            font-weight: bold;
            font-size: 32px;
            text-align: center;
            margin-top: 24px;
            margin-bottom: 32px;
        }

        .nota {
            margin-top: 32px;
            text-align: center;
        }
    </style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <div id="caja">
                    <div id="titulo">
                        Avanti
                    </div>
                    <h1>Hemos entregado el pedido "{{=it.ordenDeCompra}}"</h1>
                    <h2>Adjuntamos en este correo la factura "{{=it.numeroFactura}}"</h2>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                    <h3>Gracias por su compra</h3>
                    <p class="nota">Mensaje autogenerado</p>
                </div>
            </td>
        </tr>
    </table>


</body>