{{define "edit"}}
		{{template "main"}}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Editar orden </h5>
				<form action="/orders/update/{{.Orm.ID}}" method="post">
					<div class="form-group">
						<label >Numero de factura</label>
						<input class="form-control" type="text" name="number" value="{{.Number}}">

					</div>
					<div class="form-group">
						<label >Orden de compra</label>
						<input class="form-control" type="text" name="invoice" value="{{.Invoice}}">
					</div>
					<div class="form-group">
						<label >Id cliente</label>
						<input class="form-control" type="text" name="id_client" value="{{.ClientID}}" readonly>
					</div>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>

			</div>
		</div>
	{{template "footer"}}
{{end}}
