<html>
	<body>
		<h1>Crear orden</h1>
		<form action="./create" method="post">
			<label >Numero de factura</label>
			<br/>
			<input type="text" name="number">
			<br/>
			<label >Orden de compra</label>
			<br/>
			<input type="text" name="invoice">
			<br/>
			<label >Id cliente</label>
			<br/>
			<input type="text" name="id_client" value="{{.}}">
			<br/>
			<input type="submit" value="Crear">
		</form>

	</body>
</html>
