{{define "new"}}
		{{template "main"}}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Crear orden </h5>
				<form action="./create" method="post">
					<div class="form-group">
						<label >Numero de factura</label>
						<input class="form-control" type="text" name="number">
					</div>

					<div class="form-group">
					<label >Orden de compra</label>
					<input class="form-control" type="text" name="invoice">
					</div>

					<div class="form-group">
					<label >Id cliente</label>
					<input class="form-control" type="text" name="id_client" value="{{.}}" readonly>
					</div>

					<input class="btn btn-primary" type="submit" value="Crear">
				</form>
			</div>
		</div>
	{{template "footer"}}
{{end}}
