{{define "edit"}}
<html>
	<head>
		{{template "bootstrap"}}
	</head>
	<body>
		<h1>Crear cleinte</h1>
		{{.Orm.ID}}
		<form action="../update/{{.Orm.ID}}" method="post">
			<label >Nombre</label>
			<br/>
			<input type="text" name="name" value="{{.Name}}">
			<br/>
			<input type="submit" value="Crear">
		</form>

	</body>
</html>
{{end}}
