{{define "edit"}}
<html>
	<head>
		{{template "bootstrap"}}
	</head>
	<body>
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Crear cliente |  ID {{.Orm.ID}}</h5>
				<form action="../update/{{.Orm.ID}}" method="post">
					<div class="form-group">
						<label >Nombre</label>
						<input type="text" class="form-control" name="name" value="{{.Name}}">
					</div>
					<input class="btn btn-primary" type="submit" value="Crear">
				</form>
			</div>
		</div>
	</body>
</html>
{{end}}
