{{define "list"}}
	{{template "main"}}
        <ul class="list-group">
            {{range .}}
                <li class="list-group-item">
			<a href="/client/{{.ID}}/orders">
				<button  type="button" class="btn btn-secondary">Ordenes</button>
			</a>
			<a href="/client/edit/{{.ID}}">
				<button href="" type="button" class="btn btn-secondary">Editar</button>
			</a>
			<a href="/client/remove/{{.ID}}">
				<button type="button" class="btn btn-danger" href="">Eliminar</button>
			</a>
			{{.Name}} 
		</li>
            {{end}}
        </ul>
	<a href="/client/new">
		<button  type="button" class="btn btn-primary">Nuevo cliente</button>
	</a>
	{{template "footer"}}
{{end}}
