<html>
	<body>
		<h1>Crear cleinte</h1>
		<form action="./create" method="post">
			<label >Nombre</label>
			<br/>
			<input type="text" name="name">
			<br/>
			<input type="submit" value="Crear">
		</form>

	</body>
</html>
