<html> <body>
	<h1>
		{{.Name}} 
	</h1>
        <ul>
            {{range .Orders}}
                <li>
			Numero: {{.Number}} |
			Invoice: {{.Invoice}}
			<a href="/orders/remove/{{.ID}}?clientid={{.ClientID}}">Eliminar</a>	
			<a href="/orders/edit/{{.ID}}">Edit</a>	
		</li>
            {{end}}
        </ul>
	<label >Crete new order</label>
			<a href="/orders/new?clientid={{.ID}}">Create</a>	
	</body>
</html>
