<html>
	<body>
	<h1>
		{{.Name}} 
	</h1>
        <ul>
            {{range .Orders}}
                <li>
			Numero: {{.Number}} |
			Invoice: {{.Invoice}}
			<a href="/client/remove/{{.ID}}">Eliminar</a>	
			<a href="/client/edit/{{.ID}}">Edit</a>	
			<a href="/client/{{.ID}}/orders">Orders</a>	
		</li>
            {{end}}
        </ul>
	<label >Crete new order</label>
			<a href="./new">Create</a>	
	</body>
</html>
