{{define "orders"}}
	{{template "main"}}
	<h1>
		{{.Name}} 
	</h1>
        <ul>
            {{range .Orders}}
                <li>
			Numero: {{.Number}} |
			Invoice: {{.Invoice}}
			<a href="/orders/remove/{{.ID}}?clientid={{.ClientID}}">Eliminar</a>	
			<a href="/orders/edit/{{.ID}}">Edit</a>	
		</li>
            {{end}}
        </ul>
	<a href="/orders/new?clientid={{.ID}}">
		<button class="btn btn-primary">Nueva orden</button>
	</a>	
	{{template "footer"}}
{{end}}
